{% for todo in todos %}

<div
    class="border p-3 rounded mb-3"
    x-data="{
        edit: false,
        title: '{{ todo.title }}'
    }">

    <!-- VIEW MODE -->

    <div
        x-show="!edit"
        class="flex justify-between items-center">

        <span class="text-lg">
            {{ todo.title }}
        </span>

        <div class="flex gap-2">

            <!-- EDIT BUTTON -->

            <button
                class="bg-yellow-500 text-white px-3 py-1 rounded"
                @click="edit = true">
                Edit
            </button>

            <!-- DELETE -->

            <form
                hx-post="/delete/{{ todo.id }}/"
                hx-target="#todo-list"
                hx-swap="innerHTML">

            {% csrf_token %}

            <button
                type="submit"
                class="bg-red-500 text-white px-3 py-1 rounded">
                Delete
            </button>

            </form>

        </div>

    </div>

    <!-- EDIT MODE -->

    <div
        x-show="edit"
        class="flex gap-2">

        <input
            type="text"
            x-model="title"
            class="border p-2 rounded w-full">

        <!-- UPDATE -->

        <button
            class="bg-green-500 text-white px-3 rounded"
            hx-post="/update/{{ todo.id }}/"
            hx-include="closest div"
            hx-vals='js:{title: title}'
            hx-target="#todo-list"
            hx-swap="innerHTML"
            @click="edit = false">
            Update
        </button>

    </div>

</div>

{% empty %}

<p class="text-gray-500 text-center">
    No Todos Found
</p>

{% endfor %}